*.crt
*.csr
*.csv
*.ext
*.gif
*.groovy
*.ico
*.jpeg
*.jpg
*.key
*.lock
*.log
*.pem
*.png
*.sh
*.snap
*.svg
*.txt
.DS_Store
.cache/
.editorconfig
.env
.eslintignore
.gitattributes
.github/
.gitignore
.gitkeep
.huskyrc
.idea/
.jscodeshiftignore
.lintstagedrc
.node-version
.npmrc
.nvmrc
.prettierignore
.secrets
.snyk
.targetsrc
CODEOWNERS
Jenkinsfile
dist/
node_modules/
sonar.properties
tools/husky/
